@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #302c42;
	font-family: 'Montserrat', serif;
	color: #fff;
}

a {
	font-family: 'Montserrat', serif;
}

.container {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
}

.header {
	padding-top: 50px;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
	list-style-type: none;
}

.nav__link {
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-decoration: none;
}

.header__btns {
	display: flex;
	gap: 38px;
	align-items: center;
	justify-content: center;
}

.btn {
	background: linear-gradient(to right, #8176af 0%, #c0b7e8 100%);
	padding: 17px 38px;
	color: #343045;
	border-radius: 40px;
	font-size: 12px;
	font-weight: 700;
}

.btn__outline {
	background: transparent;
	color: #fff;
	border: 2px solid #fff;
}

.hero {
	padding-top: 140px;
}

.hero__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero__title {
	font-size: 40px;
	color: #fff;
	max-width: 460px;
	margin-bottom: 36px;
}

.hero__desc {
	font-size: 16px;
	color: #fff;
	margin-bottom: 40px;
	max-width: 450px;
}

.hero__btns {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 11px;
}

.hero__img {
	background: url(./img/hero__bg.svg) no-repeat center center;
	padding: 20px 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gradient {
	font-size: 46px;
	background: linear-gradient(to right, #8176af 0%, #c0b7e8 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.hero__footer {
	margin-top: 88px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	background: radial-gradient(rgba(58, 52, 86, 0.85), #211e2e);
	border-radius: 90px;
	padding: 25px 0;
	color: #fff;
}

.hero__box {
	display: flex;
	align-items: center;
	gap: 20px;
}

.hero__subtitle {
	font-size: 24px;
}

.hero__box__text {
	font-size: 14px;
}

.hero__box:nth-child(2) {
	border: 1px solid rgba(192, 183, 232, 0.33);
	padding: 30px 50px;
	border-top: none;
	border-bottom: none;
}

.about {
	padding-top: 90px;
}

.about__header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.light {
	font-weight: 300;
}

.section__title {
	font-size: 36px;
	line-height: 150%;
}

.about__title {
	display: flex;
	align-items: flex-end;
	position: relative;
	max-width: 300px;
}

.arrow {
	position: absolute;
	bottom: -10%;
	right: -70%;
}

.about__header__text {
	max-width: 650px;
	font-size: 16px;
}

.about__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 85px;
}

.about__content {
	max-width: 630px;
}

.about__content .section__title {
	max-width: 195px;
}

.about__text {
	margin: 42px 0 28px;
}

.about__btn {
	display: inline-block;
}

.advantages {
	margin-top: 110px;
}

.advantages__header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.advantages__title {
	display: flex;
	align-items: flex-end;
	position: relative;
	max-width: 300px;
}

.advantages__header__text {
	max-width: 650px;
	font-size: 16px;
}

.advantages__zone {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	align-items: flex-start;
	flex-wrap: wrap;
	margin-top: 105px;
}

.advantages__card {
	background: radial-gradient(rgba(58, 52, 86, 0.85), #211e2e);
	border-radius: 40px;
	flex-basis: 24.3%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 25px 25px 40px;
}

.advantages__card__img {
	border: 13px solid rgba(14, 14, 14, 0.32);
	border-radius: 100%;
	margin-bottom: 21px;
}

.advantages__card__title {
	font-size: 24px;
	margin-bottom: 17px;
}

.line {
	width: 155px;
	height: 1px;
	background: rgba(192, 183, 232, 0.33);
	margin-bottom: 21px;
}

.advantages__card__desc {
	font-size: 12px;
	margin-bottom: 35px;
}

.brand {
	margin-top: 115px;
}

.brand__bg {
	background: url(./img/brand__bg.png) no-repeat center center;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 108px 0 96px;
}

.brand__bg .section__title {
	max-width: 580px;
	text-align: center;
}

.brand__arrow {
	width: 70px;
	height: 70px;
	background: url('./img/arrow__down.svg') no-repeat center center,
		linear-gradient(268deg, #c0b7e8 0%, #8176af 100%);
	border-radius: 100%;
	position: absolute;
	z-index: 3;
	left: 50%;
	bottom: -10%;
	transform: translateX(-50%);
	display: flex;
}

.brand__arrow::before {
	content: '';
	width: 100px;
	height: 100px;
	background: rgba(14, 14, 14, 0.32);
	border-radius: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
	display: flex;
}

.brand__logos {
	margin-top: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.work {
	padding-top: 70px;
}

.work__header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.work__title {
	display: flex;
	align-items: flex-end;
	position: relative;
	max-width: 335px;
}

.work__header__text {
	max-width: 650px;
	font-size: 16px;
}

.work__zone {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 110px;
}

.work__card__title {
	font-size: 64px;
	color: #343045;
	background: linear-gradient(251deg, #c0b7e8 0%, #8176af 100%);
	width: 160px;
	height: 160px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.work__card__title::before {
	content: '';
	width: 200px;
	height: 200px;
	border-radius: 100%;
	position: absolute;
	background: rgba(13, 13, 13, 0.32);
}

.word__card__desc {
	font-size: 24px;
	font-weight: 700;
	margin-top: 45px;
	max-width: 190px;
	position: relative;
}

.word__card__desc::before {
	content: url(./img/arrow-small-right.svg);
	position: absolute;
	left: -50%;
	top: -60%;
}

.contact {
	padding-top: 110px;
}

.contact__container {
	border-radius: 100px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
	background: radial-gradient(50% 50% at 50% 50%, #403a5f 0%, #211e2e 100%);
	padding: 90px 110px;
	position: relative;
}

.contact__title {
	text-align: center;
	font-size: 36px;
}

.contact__line {
	background: linear-gradient(
		to right,
		#343045 0%,
		#c0b7e8 35%,
		#8176af 69%,
		#343045 100%
	);
	height: 1px;
	width: 415px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 30px;
}

.contact__desc {
	text-align: center;
	font-size: 36px;
	font-weight: 300;
	margin-top: 21px;
}

.form {
	margin-top: 65px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px 20px;
	width: 100%;
}

input,
textarea {
	display: flex;
	width: 100%;
	padding: 27px 0 27px 40px;
	background: transparent;
	border-radius: 72px;
	border: 2px solid #fff;
	color: #fff;
	font-size: 14px;
}

input::placeholder,
textarea::placeholder {
	color: #fff;
}

textarea {
	border-radius: 40px;
}

.form__row {
	display: flex;
	width: 100%;
	gap: 20px;
}

.input__half {
	width: 49%;
}

.form__btn {
	border: none;
	padding: 16px 56px;
}

.footer {
	margin-top: 130px;
}

.footer__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__box__line {
	background: linear-gradient(
		to bottom,
		#343045 0%,
		#c0b7e8 35%,
		#8176af 69%,
		#343045 100%
	);
	width: 6px;
	height: 200px;
}

.footer__nav__list {
	display: flex;
	flex-direction: column;
	gap: 30px;
	list-style-type: none;
}

.footer__nav__list a {
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	color: #fff;
}

.footer__links {
	margin-top: 40px;
	display: flex;
	gap: 20px;
}

.footer__btn {
	margin-top: 50px;
	border: none;
}

.footer__line {
	background: linear-gradient(
		to right,
		#343045 0%,
		#c0b7e8 35%,
		#8176af 69%,
		#343045 100%
	);
	height: 1px;
	width: 100%;
	margin-top: 45px;
}

.footer__footer {
	margin: 50px 0;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
}
