@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #302c42;
	font-family: 'Montserrat', serif;
}

a {
	font-family: 'Montserrat', serif;
}

.container {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
}

.header {
	padding-top: 50px;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav__list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
	list-style-type: none;
}

.nav__link {
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	text-decoration: none;
}

.header__btns {
	display: flex;
	gap: 38px;
	align-items: center;
	justify-content: center;
}

.btn {
	background: linear-gradient(to right, #8176af 0%, #c0b7e8 100%);
	padding: 17px 38px;
	color: #343045;
	border-radius: 40px;
	font-size: 12px;
	font-weight: 700;
}

.btn__outline {
	background: transparent;
	color: #fff;
	border: 2px solid #fff;
}

.hero {
	padding-top: 140px;
}

.hero__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.hero__title {
	font-size: 40px;
	color: #fff;
	max-width: 460px;
	margin-bottom: 36px;
}

.hero__desc {
	font-size: 16px;
	color: #fff;
	margin-bottom: 40px;
	max-width: 450px;
}

.hero__btns {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 11px;
}

.hero__img {
	background: url(./img/hero__bg.svg) no-repeat center center;
	padding: 20px 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gradient {
	font-size: 46px;
	background: linear-gradient(to right, #8176af 0%, #c0b7e8 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.hero__footer {
	margin-top: 88px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	background: radial-gradient(rgba(58, 52, 86, 0.85), #211e2e);
	border-radius: 90px;
	padding: 25px 0;
	color: #fff;
}

.hero__box {
	display: flex;
	align-items: center;
	gap: 20px;
}

.hero__subtitle {
	font-size: 24px;
}

.hero__box__text {
	font-size: 14px;
}

.hero__box:nth-child(2) {
	border: 1px solid rgba(192, 183, 232, 0.33);
	padding: 30px 50px;
	border-top: none;
	border-bottom: none;
}
